langchain
langchain-community
langchain-openai
chromadb
rank-bm25
sentence-transformers
streamlit
pypdf
arxiv
boto3
python-dotenv
deepeval
tiktoken
langchain-groq
google-genai
requests
langchain-huggingface
langchain-huggingface
langchain-chroma
langchain-classic
instructor
