langchain
langchain-community
langchain-classic
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
rank-bm25
sentence-transformers
streamlit
pypdf
arxiv
requests
boto3
python-dotenv
tiktoken